{% layout "server/layouts/base.liquid" %}

{% block content %}

<div class="detail-page">


  <div class="book-cover">
    <a href="http://localhost:3000/" class="back-button">← Terug naar Home</a>
    <img src="{{ book.thumbnail }}" alt="Cover van {{ book.title }}">
  </div>

  <div class="book-info">
    <div class="book-header">
      <p class="book-year">{{ book.date }}</p>
      <h1 class="book-title">{{ book.title }}</h1>
      <h2 class="book-author">{{ book.authors }}</h2>
    </div>
  
    <div class="book-description">
      {{ book.description }}
    </div>

    <div class="btn-container">
      {% assign idString = book.id | append: "" %}
      {% assign isFavorited = favorites contains idString %}
      
      <!-- Formulier voor toevoegen aan favorieten -->
      <form class="favorite-form" action="/favorites/{{ book.id }}" method="POST">
        <input type="hidden" name="id" value="{{ book.id }}">
        <input type="hidden" name="title" value="{{ book.title }}">
        <input type="hidden" name="authors" value="{{ book.authors }}">
        <input type="hidden" name="thumbnail" value="{{ book.thumbnail }}">
        <button class="favorite-btn" type="submit">
          Add to Favorites
        </button>
      </form>
      
      <!-- Spraakknop -->
      <button class="speak-btn" id="speakButton">Read Aloud</button>
    </div>


{% endblock %}
